{% extends 'model.html.twig' %}

{% block title %}

{{titre}} | {{parent()}}

{% endblock %}

{% block main %}

{%  block body %}



    <!-- partie affichage liste d'activitees -->
        <div class="row justify-content-center">
            <div class="col-sm-10">
            <table class="table table-striped table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <!-- Il s'agit du nombre de place total, il faudra ensuite indiquer le nb d'inscrits/nb places-->
                        <th>Nombre de place</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>{{ activity.name }}</td>
                            <td>{{ activity.startDate ? activity.startDate|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ activity.registrationDeadline ? activity.registrationDeadline|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ activity.nbRegistration }}</td>
                            <td>{{ activity.Status.wording }}</td>
                            <td> INSCRIT ? </td>
                            {# <td>{{ activity.organizer.firstname }} {{ activity.organizer.lastname }}</td> #}
                            <td>ACTIONS ?</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
        </div>
    {% endblock %}


{% endblock %}