{% extends 'model.html.twig' %}

{% block title %}

{{titre}} | {{parent()}}

{% endblock %}

{% block main %}

{%  block body %}

    <!-- partie affichage liste des participants -->
        <div>
            <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>Nom des participants</th>
                        <th>Prenom des participants</th>
                        <th>Téléphone</th>
                        <th>Campus</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in participants %}
                        <tr>


                            <td>{{ participant.lastname }}</td>
                            <td>{{ participant.firstname }}</td>
                            <td>{{ participant.phoneNumber}}</td>
                            <td>{{ participant.Campus.id }}</td>
                            
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    {% endblock %}


{% endblock %}