{% extends 'model.html.twig' %}

{% block title %}modifier participant{% endblock %}

{% block main %}

    {% include('navbar.html.twig') %}
    {% include('headerlight.html.twig') %}

    {% block body %}


<div class="container-xl px-4 mt-4">

<hr class="mt-0 mb-4">
<div class="row">
    <div class="col-xl-4">
        <form action="{{ path('update_participant') }}" method="post" >
        <!-- Profile picture card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Photo de profil</div>
            <div class="card-body text-center">
                <!-- Profile picture image-->
                {% if participant.photoFilename is defined %}
                    <img class="img-thumbnail " alt="photo de profil" src="{{ asset('uploads/') }}{{ participant.photoFilename }}" >
                {% else %}

                {% endif %}
                <!-- Profile picture help block-->
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                <!-- Profile picture upload button-->
                {{ form_row(formulaire.photo) }}
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header">Mon profil</div>
            <div class="card-body">

                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Prénom)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">Prénom</label>
                            {{ form_widget(formulaire.firstname) }}
                        </div>
                        <!-- Nom -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">Nom</label>
                            {{ form_widget(formulaire.lastname) }}
                        </div>
                    </div>

                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Numéro de téléphone-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">Téléphone</label>
                            {{ form_widget(formulaire.phoneNumber) }}
                        </div>
                        <!-- Email -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">Email</label>
                            {{ form_widget(formulaire.email) }}
                        </div>
                    </div>

                    <!-- Form Row        -->
                    <div class="row gx-3 mb-3">
                        <!-- Nouveau mot de passe-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputOrgName">Nouveau mot de passe</label>
                            {{ form_row(formulaire.password.first) }}
                        </div>


                        <!-- Confirmation nouveau mot de passe-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLocation">Confirmation nouveau mot de passe</label>
                            {{ form_row(formulaire.password.second) }}
                        </div>
                    </div>


                    </div>
                    <!-- Save changes button-->
                    <button class="btn btn-primary" type="submit">Modifier mon profil</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


{#            {# {{ form_start(formulaire) }}#}
{#                {{ form_row(formulaire.photo) }}#}
{#                {{ form_widget(formulaire) }}#}
{#                <button class="btn btn-info" type="submit">Modifier</button>#}
{#                {{ form_end(formulaire) }}#}



{#                <form>#}
{#                    <div class="form-group row">#}
{#                        <label class="col-sm-2 col-form-label">Prénom</label>#}
{#                        <div class="col-sm-10">#}
{#                            {{ form_widget(formulaire.firstname) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <label class="col-sm-2 col-form-label">Nom</label>#}
{#                        <div class="col-sm-10">#}
{#                            {{ form_widget(formulaire.lastname) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <label class="col-sm-2 col-form-label">Téléphone</label>#}
{#                        <div class="col-sm-10">#}
{#                            {{ form_widget(formulaire.phoneNumber) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <label class="col-sm-2 col-form-label">Email</label>#}
{#                        <div class="col-sm-10">#}
{#                            {{ form_widget(formulaire.email) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- GESTION DU MOT DE PASSE -->#}
{#                    <div class="form-group row">#}
{#                        <label class="col-sm-2 col-form-label">Mot de passe</label>#}
{#                        <div class="col-sm-10">#}

{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <label class="col-sm-2 col-form-label">Confirmation</label>#}
{#                        <div class="col-sm-10">#}

{#                        </div>#}
{#                    </div>#}
{#                    <!-- FIN DU MOT DE PASSE-->#}
{#                    <div class="form-group row">#}
{#                        <label class="col-sm-2 col-form-label">Campus</label>#}
{#                        <div class="col-sm-10">#}
{#                            {{ form_widget(formulaire.campus) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <label class="col-sm-2 col-form-label">Ma photo :</label>#}
{#                        <div class="col-sm-10">#}
{#                            {{ form_widget(formulaire.photo) }}#}
{#                        </div>#}
{#                    </div>#}

{#                                    <button class="btn btn-info" type="submit">Modifier</button>#}
{#                </form>#}


{#            </div>#}
{#        </div>#}

    {% endblock %}
{% endblock %}
