{% extends 'model.html.twig' %}

{% block title %}modifier participant{% endblock %}

{% block main %}
{# <img class="logo" src="{{ asset('upload/')}}{{app.participant.photoFile}}" > #}

{{ form_start(formulaire)}}
{{ form_row(formulaire.photo) }}
{{ form_widget(formulaire)}}
<button class="btn btn-info" type="submit">Modifier</button>
{{ form_end(formulaire)}}
{% endblock %}
