
<!-- Navbar Start a modifier -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">

        {% if app.user %}
            <a href="{{ path('home') }}" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="{{ asset ('img/logoCreative.png')}}" alt="Icon" style="width: 120px; height: 120px;">
                </div>
                <h1 class="m-0 text-primary">ENI Sortie</h1>
            </a>
        {%  else %}

            <a href="" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="{{ asset ('img/icon-deal.png')}}" alt="Icon" style="width: 30px; height: 30px;">
                </div>
                <h1 class="m-0 text-primary">ENI Sortie</h1>
            </a>

        {% endif %}


        <!--Message personnalisé à l'utilisateur quand il est co'-->
        {% if app.user %}
            <div>
                <h4>Bonjour {{ app.user.firstname }}</h4>
            </div>
        {% endif %}
        <!-- Fin du message personnalisé-->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="{{ path('home') }}" class="nav-item nav-link ">Accueil</a>

            </div>
            <a href="{{ path('new_activity') }}" class="btn btn-primary px-3 d-none d-lg-flex">Ajouter activité</a>

            {% if app.user %}
                <a href="{{ path('update_participant') }}" class="nav-item nav-link " >Mon profil</a>
            {% endif %}


            {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="nav-item nav-link " >Déconnexion</a>
            {% endif %}


        </div>
    </nav>
</div>
<!-- Navbar End -->

