{% extends 'model.html.twig' %}

{% block title %}
    {{ parent() }}
    Delete Activity
{% endblock %}

{% block main %}
    {% block body %}  

    <h1 class="text-align-center">Delete Activity</h1>
    <div class="container col-md-6 text-center">
        <p>nom de la sortie : {{ activity.name}} </p>
        <p>date de la sortie : {{ activity.startDate | date('Y-m-d H:i:s')}} </p>
        <p>campus : {{ activity.campus.name}} </p>
        <p>lieu : {{ activity.location.name}} </p>
        

        <form method="post" >
            <div>                
                <label for="motif">Motif :</label>
                
                <input type="textarea" name="motif" cols='20' rows='5'>


            <br>
        <div>
            <button type="submit" name="delete" class="btn btn-danger" action="{{ path('app_activity_delete', {id:activity.id}) }}">Supprimer !</button>
            <button type="submit" name="annuler" class="btn btn-dark" action="{{path('home')}}">Annuler !</button>
        </div>           
                
           
        </form>

     
       

    {% endblock %}
{% endblock %}