{% extends 'model.html.twig' %}
{% block title %}
{{ parent() }}


{% endblock %}


{% block main %}
    {% include('navbar.html.twig') %}


    {# fonctionne mais a voir avec les liens du tableau d'activités #}
    {% block body %}
        <h1 class="text-align-center">Edit Activity</h1>
       <div class="container col-md-6 text-center">
        {{ form_start(activity) }}
       
        {{ form_row(activity.name)}}
        {{ form_row(activity.startDate)}}
        {{ form_row(activity.activityDuration)}} 
        {{ form_row(activity.registrationDeadline)}}
        
        {{ form_row(activity.nbRegistration)}}
        {{ form_row(activity.activityDescription)}}
        {{ form_row(activity.location)}}
        {{ form_row(activity.status)}}
        {{ form_row(activity.campus)}}
        {# {{ form_row(activity.organizer)}} #}
        {# {{ form_row(activity.participant)}} #}
       
        {{ form_widget(activity) }}
        <div class="align-items-center">
        <button type="submit" class="btn btn-success">Modifier !</button>
       </div>
       </div>
       
        {{ form_end(activity) }}
       

    {% endblock %}

    {% include('footer.html.twig') %}

    {# {{ include('activity/_form.html.twig') }} #}

    {# <a href="{{ path('new_activity') }}">back to list</a> #}
{% endblock %}