{% extends 'model.html.twig' %}

{% block title %}
    {{ parent() }}
    New Activity{% endblock %}



{% block main %}
    {% include('navbar.html.twig') %}
    {% block body %}
        <div class="container-xl px-4 mt-4">

            <hr class="mt-0 mb-4">
            <div class="row">
                <div class="col-xl-4">
                    <img class="img-fluid" src="{{ asset ('img/team.jpg') }}" alt="Icon">
                </div>

                <div class="col-xl-8">
                    <div class="card mb-4">
                        <div class="card-header"><h3>Proposer une activité</h3></div>
                        <div class="card-body">
                            {{ form_start(activity) }}
                            {{ form_row(activity.name) }}
                            {{ form_row(activity.startDate) }}
                            {{ form_row(activity.activityDuration) }}
                            {{ form_row(activity.registrationDeadline) }}

                            {{ form_row(activity.nbRegistration) }}
                            {{ form_row(activity.activityDescription) }}
                            {{ form_row(activity.location) }}
                            
                            <div class="align-items-center">
                                <button type="submit" class="btn btn-dark">Ajouter !</button>
                            </div>
                        </div>

                        {{ form_end(activity, {'render_rest': false}) }}.
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}

    {# {{ include('activity/_form.html.twig') }} #}

    {# <a href="{{ path('new_activity') }}">back to list</a> #}


    {% include('footer.html.twig') %}

{% endblock %}
