{% extends 'model.html.twig' %}

{% block title %} Activity detail{% endblock %}

{% block main %}
    <h1>Activity</h1>

    {% include('navbar.html.twig') %}
    {% include('header.html.twig') %}
    {% include('search.html.twig') %}

    
    {% block body %}
<div>
     <table class="table table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ activity.name }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ activity.startDate | date('Y-m-d H:i:s')}}</td>
            </tr>
            <tr>
                <th>ActivityDuration</th>
                <td>{{ activity.activityDuration }}</td>
            </tr>
            <tr>
                <th>RegistrationDeadline</th>
                <td>{{ activity.registrationDeadline | date('Y-m-d H:i:s')}}</td>
            </tr>
            <tr>
                <th>NbRegistration</th>
                <td>{{ activity.nbRegistration }}</td>
            </tr>
            <tr>
                <th>ActivityDescription</th>
                <td>{{ activity.activityDescription }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-4">
    <table class="table table-striped">
    <thead>
        <tbody>
    
         
            <tr>
            <th>Nom</th>
            <th>Prénom</th>
            </tr>

            {% for activity in activity.participant %}
            <tr>
            <td>{{ activity.lastname }}</td>
            
            <td>{{ activity.firstname }}</td>
             </tr>
       {% endfor %}
       </tbody>
    </thead>
    </table>  
</div>
    {# </div> #}
    {# <div class = "butn-group">
    <a href="{{ path('show_detail_activity',{"id":activity.id})}}">Détail de l'activité</a>
    </div> bouton à récupérer pour l'écran principal des activités #}

    {% endblock %}
{% endblock %}
